// tipografia

$fuente_principal: 'Montserrat', sans-serif;

//colores
$verde: #4CB8B3;
$rosa: #f53756;
$amarillo: #fef46d;
$negro: #000000;
$blanco: #ffffff;
$morado: purple;


// mq

$telefono: 480px;
$tablet: 768px;
$pc: 992px


